
<% if @travel.errors.any? %>
	<div class="validation-messages">
		<ul>
			<% @travel.errors.each do | field, msg| %>
				<li><%= msg %></li><br>
   			<% end %>
   		</ul>
   	</div>
<% end %>

<h3>
	<%= "Add travel for #{@crew.asset.first_and_last_name} on the #{@retrofit_job.store_name_and_number} LED project" %>
</h3>

<div class="all-forms">
	<%= form_for([@retrofit_job, @crew, @travel], method: :post) do |f| %>
		<%= f.label "carrier name" %>
		<%= f.text_field :carrier_name %>
		<%= f.label "carrier number" %>
		<%= f.text_field :carrier_number %>
		<%= f.label "confirmation" %>
		<%= f.text_field :confirmation_number %>
		<%= f.label "day of departure", {:class => "no-blank"} %>
		<%= f.date_field :day, placeholder: "mm/dd/yyyy" %>
		<%= f.label "depart from", {:class => "no-blank"} %>
		<%= f.text_field :depart_city %>
		<%= f.label "time of departure", {:class => "no-blank"} %>
		<%= f.time_field :depart_time, placeholder: "hh:mm ap" %>
		<%= f.label "traveling to", {:class => "no-blank"} %>
		<%= f.text_field :arrive_city %>
		<%= f.label "time of arrival", {:class => "no-blank"} %>
		<%= f.time_field :arrive_time, placeholder: "hh:mm ap" %>
		<%= f.label "work, home, layover" %>
		<%= f.text_field :status %>
		<%= f.label "notes" %>
		<%= f.text_area :notes %>

		<div class= "multi-input">
			<%= f.submit :submit, {:class => "submit-button submit"} %>
		</div>
	<% end %>
</div>

	<%= button_to "cancel", retrofit_job_path(@retrofit_job), method: :get, :class => "submit-button cancel" %>

