<h3>
	<%= "Add units to #{@retrofit_job.store_name_and_number}'s Inventory" %>
</h3>

<div>
	<%= form_for([@retrofit_job, @inventory], method: :post) do |f| %>
		<%= f.label "Unit" %>
		<%= f.select(:unit_id, @units.all.collect {|u| [u.name_for_retrofit_job, u.id]}) %>
		<%= f.label "Quantity" %>
		<%= f.text_field :quantity %>
		<%= f.label "Status" %>
		<%= f.select(:status, options_for_select(['speculitive', 'ordered', 'shipped', 'warehouse', 'on site', 'missing'])) %>
		<%= f.submit "Add" %>
	<% end %>
</div>