<% if @task.errors.any? %>
	<div class="validation-messages">
		<ul>
			<% @task.errors.each do | field, msg| %>
				<li><%= msg %></li><br>
   			<% end %>
   		</ul>
   	</div>
<% end %>

<h3>
	<%= "Edit a #{@task.title} to #{@retrofit_job.store_name_and_number}" %>
</h3>

<p>
	Items in red must be completed.
</p>

<div class="all-forms">
	<%= form_for([@retrofit_job, @task], method: :patch) do |f| %>
		<%= f.label "title", {:class => "no-blank"} %>
		<%= f.text_field :title %>
		<%= f.label "description" %>
		<%= f.text_field :description %>
		<%= f.label "notes" %>
		<%= f.text_area :notes %>
		<%= f.label "status", {:class => "form-dates"} %>
		<%= f.select(:status, options_for_select([['incomplete'], ['pending'], ['complete']])) %>
	
		<div class="multi-input">

			<%= f.submit "update task", :class => "submit-button submit" %>
			
		</div>
	<% end %>
</div>
	

	<%= button_to "cancel", retrofit_job_path(params[:retrofit_job_id]), method: :get, :class => "submit-button cancel" %>

	<%= button_to "delete task", retrofit_job_task_path, method: :delete, :class => "submit-button delete", data: {confirm: "You are about to delete this task from #{@retrofit_job.store_name_and_number}, continue?"} %>

