<h3>
	<%= "Add Contact for #{@retrofit_job.store_number}" %>
</h3>

<div class="all-forms">
	<%= form_for([@retrofit_job, @contact], method: :post) do |f| %>
		<%= f.label "job title" %>
		<%= f.text_field :title %>
		<%= f.label "first name" %>
		<%= f.text_field :fname %>
		<%= f.label "last name" %>
		<%= f.text_field :lname %>
		<%= f.label "email" %>
		<%= f.text_field :email %>
		<%= f.label "notes" %>
		<%= f.text_area :notes %>
		
		<div class="multi-input">
			<%= f.submit "add contact", :class => "submit-button submit" %>

	<% end %>

		</div>

	<%= button_to "cancel", :back, method: :get, :class => "submit-button cancel" %>

</div>