<% if @retrofit_job.errors.any? %>
	<div class="validation-messages">
		<ul>
			<% @retrofit_job.errors.each do | field, msg| %>
				<li><%= msg %></li><br>
   			<% end %>
   		</ul>
   	</div>
<% end %>

<h3>
	Edit Store Infomation
</h3>

<p>
	Items in red must be completed.
</p>

<div class="all-forms">
		<%= form_for(@retrofit_job, method: :patch) do |f| %>
			<%= f.label "store number", {:class => "no-blank"} %>
			<%= f.text_field :store_number %>
			<%= f.label "mall name", {:class => "no-blank"} %>
			<%= f.text_field :mall_name %>
			<%= f.label "store area" %>
			<%= f.text_field :sqft %>
			<%= f.label "store phone number" %>
			<%= f.text_field :phone %>
			<%= f.label "web site" %>
			<%= f.text_field :url %>
			<%= f.label "store hours" %>
			<%= f.text_area :hours %>
			<%= f.label "start date", {:class => "form-dates no-blank"} %>
			<%= f.date_select :start, :order => [:month, :day, :year] %><br>
			<%= f.label "finish date", {:class => "form-dates no-blank"} %>
			<%= f.date_select :finish, :order => [:month, :day, :year] %><br>

				<%= f.fields_for :address do |a| %>
					<%= a.label "line one" %>
					<%= a.text_field :line_one %>
					<%= a.label"line two" %>
					<%= a.text_field :line_two %>
					<%= a.label "city" %>
					<%= a.text_field :city %>
					<%= a.label "state" %>
					<%= a.text_field :state, placeholder: "two letter state code" %>
					<%= a.label "zip code" %>
					<%= a.text_field :zip, placeholder: "five digit code" %>
				<% end %>

			<div class="multi-input">

				<%= f.submit :update, :class => "submit-button submit" %>
				
			</div>
		<% end %>
</div>

			<%= button_to "cancel", retrofit_job_path, method: :get, :class => "submit-button cancel" %>

			<%= button_to "delete store", retrofit_job_path, action: :destroy, method: :delete, :class => "submit-button delete", data: {confirm: "You are about to delete #{@retrofit_job.store_number} and all of its data. Continue?",} %>

	
