<h3>
	Edit Store Infomation
</h3>

<div>
	<%= form_for(@retrofit_job, method: :patch) do |f| %>
		<%= f.label "store number" %><br>
		<%= f.text_field :store_number %><br>
		<%= f.label "mall name" %><br>
		<%= f.text_field :mall_name %><br>
		<%= f.label "store phone number" %><br>
		<%= f.text_field :phone %><br>
		<%= f.label "store hours" %><br>
		<%= f.text_area :hours %><br>
		<%= f.label "start date" %><br>
		<%= f.date_select :start, :order => [:month, :day, :year] %><br>
		<%= f.label "finish date" %><br>
		<%= f.date_select :finish, :order => [:month, :day, :year] %><br>

		<div class="multi-input">
			<%= f.submit :update, :class => "submit-button submit" %>
			<% end %>
			<%= button_to "cancel", retrofit_job_path, method: :get, :class => "submit-button cancel" %>
		</div>
</div>

<div>
	<%= button_to "DELETE STORE", retrofit_job_path, action: :destroy, method: :delete %>
</div>