<h3>
	List of Retrofit Stores
</h3>

<% if @retrofit_jobs.empty? %>
	<div>
		<p>
			No Retrofit Stores Yet
		</p>
	</div>
<% else %>
	<div>
		<ul>
			<% @retrofit_jobs.order("start asc").each do |r| %>
			<li class="index-list">
				<%= r.store_number %>
				<%= r.mall_name %>
				<%= link_to "Veiw Job", retrofit_job_path(:id => r.id) %><br>
				Installing:
				<%= r.start.strftime("%A %B, %d, %Y") %>
			</li>
			<% end %>
		</ul>
	</div>
<% end %>

<%= link_to "Add Store", new_retrofit_job_path %>