<h3>
	<%= "#{@retrofit_job.store_number} #{@retrofit_job.mall_name} Project Page" %>
</h3>

<div>
	<p>
		Store Information
	</p>
	<p>
		phone number: <%= @retrofit_job.phone %>
	</p>
	<p>
		Store Hours:
		<br>
		<%= simple_format(@retrofit_job.hours) %>
	</p>
	<p>
		Site Visit:
		<br>
		<%= "#{@retrofit_job.start.strftime("%B, %d %Y")} through #{@retrofit_job.finish.strftime("%B, %d %Y")}" %>
	</p>
	<%= link_to "Edit Store Info", edit_retrofit_job_path %>
</div>

<div>
	<p>
		Store Contacts
	</p>
	<ul>
		<% @retrofit_job.contacts.each do |c| %>
		<li>
			<%= "#{c.title}:" %><br>
			<%= "#{c.fname} #{c.lname}" %><br>
			<%= c.email %><br>
			<%= simple_format(c.notes) %><br>
			<%= link_to "edit contact", edit_retrofit_job_contact_path(@retrofit_job, c.id) %>
		</li>
		<% end %>
	</ul>
</div>




