<div class="store-box">

	<h3>
		<%= "#{@retrofit_job.store_number} #{@retrofit_job.mall_name} Project Page" %>
	</h3>


	<p>
		phone number: 
		<br>
		<%= @retrofit_job.phone %>
	</p>
	<p>
		Store Hours:
		<br>
		<%= simple_format(@retrofit_job.hours) %>
	</p>
	<p>
		Site Visit:
		<br>
		<%= "#{@retrofit_job.start.strftime("%B, %d %Y")} through #{@retrofit_job.finish.strftime("%B, %d %Y")}" %>
	</p>
	<%= button_to "Edit Store", edit_retrofit_job_path(@retrofit_job), method: :get, :class => "edit-form" %>
</div>

<div class="store-box with-button">
	<h4>
		Store Contacts
	</h4>

	<%= button_to "Add", new_retrofit_job_contact_path(@retrofit_job), :class => "add-button", :method => :get %>

	<ul>
		<% @retrofit_job.contacts.each do |c| %>
		<li>
			<ul class ="contact-box">
				<li><%= "#{c.title}:" %></li>
				 <li><%= "#{c.fname} #{c.lname}" %></li>
				<li><%= c.email %></li>
				<li class="notes" ><%= simple_format(c.notes) %></li>
				<li><%= button_to "edit contact", edit_retrofit_job_contact_path(@retrofit_job, c.id), :method => :get, :class => "edit-form" %></li>
			</ul>
		</li>
		<% end %>
	</ul>
</div>



<div class="store-box with-button">
	<h4>
		IC Crew
	</h4>

		<div class="drop-form">
			<%= form_for([@retrofit_job, @new_crew], :url => retrofit_job_crews_path(params[:id]), method: :create) do |f| %>
			<%= f.label "Select Name" %><br>
			<%= f.select(:asset_id, Asset.all.collect {|a| [a.lname, a.id]}) %>
			<%= f.submit "add to #{@retrofit_job.store_number}" %>
			<% end %>
		</div>

		<% if Asset.last.nil? %>
			<p>
				No assets available in the IC Database, but you can <%= link_to "add some here.", new_asset_path %>
			</p>
		<% elsif @assets.empty? %>
			<p>
				No Assets assigned to this job yet.  Use the drop down list to add.
			</p>
		<% else %>
			<ul>
				<% @assets.each do |a| %>
					<li>
					<%= a.fname %>
					<%= a.lname %>
					</li>
				<% end %>
			</ul>
			<%= button_to "edit crew", edit_retrofit_job_crew_path(@retrofit_job.id, @crew), method: :get, :class => "edit-form" %>
		<% end %>
</div>





