<h3>
	<%= "#{@retrofit_job.store_number} #{@retrofit_job.mall_name} Project Page" %>
</h3>

<div class="store-box">
	<h4>
		Store Information
	</h4>
	<p>
		phone number: 
		<br>
		<%= @retrofit_job.phone %>
	</p>
	<p>
		Store Hours:
		<br>
		<%= simple_format(@retrofit_job.hours) %>
	</p>
	<p>
		Site Visit:
		<br>
		<%= "#{@retrofit_job.start.strftime("%B, %d %Y")} through #{@retrofit_job.finish.strftime("%B, %d %Y")}" %>
	</p>
	<%= link_to "Edit Store Info", edit_retrofit_job_path %>
</div>

<div class="store-box">
	<h4>
		Store Contacts
	</h4>
	<ul>
		<% @retrofit_job.contacts.each do |c| %>
		<li>
			<ul class ="contact-box">
			<li><%= "#{c.title}:" %></li>
			 <li><%= "#{c.fname} #{c.lname}" %></li>
			<li><%= c.email %></li>
			<li><%= simple_format(c.notes) %></li>
			<li><%= link_to "edit contact", edit_retrofit_job_contact_path(@retrofit_job, c.id) %></li>
			</ul>
		</li>
		<% end %>
	</ul>
</div>




