<h3>
	<%= "Update #{@asset.fname}'s Information" %>
</h3>

<div class="all-forms">
	
	<%= form_for(@asset, method: :patch) do |f| %>
		<%= f.label "first name" %>
		<%= f.text_field :fname %>
		<%= f.label "middle name" %>
		<%= f.text_field :mname %>
		<%= f.label "last name" %>
		<%= f.text_field :lname %>
		<%= f.label "DOB" %>
		<%= f.date_field :dob %>
		<%= f.label "phone number" %>
		<%= f.text_field :phone %>
		<%= f.label "email" %>
		<%= f.text_field :email %>
		<%= f.label "Rate/Role" %>
		<%= f.text_field :rate %>

		<%= f.fields_for :address do |a| %>
			<%= a.label "line_one" %>
			<%= a.text_field :line_one %>
			<%= a.label "line_two" %>
			<%= a.text_field :line_two %>
			<%= a.label "city" %>
			<%= a.text_field :city %>
			<%= a.label "state" %>
			<%= a.text_field :state %>
			<%= a.label "zip" %>
			<%= a.text_field :zip %>
		<% end %>

		<div class="multi-input">
			
			<%= f.submit :update, {:class => "submit-button submit"} %>
		</div>
	<% end %>
</div>

	<%= button_to "cancel", asset_path, method: :get, :class => "submit-button cancel" %>

	<%= button_to "delete asset", asset_path, method: :delete, :class => "submit-button delete", data: {confirm: "You are about to delete #{@asset.fname}, continue?",} %>

