<h3>
	<%= "#{@asset.fname}'s Info Page" %>
</h3>

<div>
	<p>
		Name:<br>
		<%= "#{@asset.fname} #{@asset.mname} #{@asset.lname}" %>
	</p>
	<p>
		Contact:<br>
		<%= @asset.phone %><br>
		<%= mail_to("#{@asset.email}", name = nil) %>
	</p>
	<p>
		Date of birth:<br>
		<%= @asset.dob.strftime("%B, %d %Y") %>
	</p>
	<p>
		Rate Type:<br>
		<%= @asset.rate %>
	</p>

	<% @asset.crews.each do |c| %>
		<%= c.id %>
	<% end %>

	<%= link_to 'edit asset', edit_asset_path(@asset) %>

</div>

