<h3>
	<%= "#{@asset.fname}'s Info Page" %>
</h3>

<div>
	<p>
		Name:<br>
		<%= "#{@asset.fname} #{@asset.mname} #{@asset.lname}" %>
	</p>
	<p>
		Contact:<br>
		<%= @asset.phone %><br>
		<%= mail_to("#{@asset.email}", name = nil) %>
	</p>
	<% if !@asset.dob.nil? %>
		<% begin %>
			<p>
				Date of birth:<br>
				<%= @asset.dob.strftime("%B, %d %Y") %>
			</p>
		<% rescue StandardError %>
			<p>
				DOB formatting error.  Edit this field.
			</p> 
		<% end %>
	<% end %>
	<p>
		Rate Type:<br>
		<%= @asset.rate %>
	</p>

	<%= link_to 'edit asset', edit_asset_path(@asset) %>

</div>

<div>
	<h3>
		Travel Preferences
	</h3>

	<% if @asset.preference.nil? %>

		<%= link_to 'add preferences', new_asset_preference_path(@asset) %>

	<% else %>

		<p>
			<%= "Home Airport: #{@asset.preference.airport}" %>
		</p>
		<p>
			<%= "Airline: #{@asset.preference.airline}" %>
		</p>
		<p>
			<%= "Seating: #{@asset.preference.seats}" %>
		</p>
		<p>
			<%= "Other: #{@asset.preference.other}" %>
		</p>

		<%= link_to 'edit preferences', edit_asset_preference_path(@asset, @asset.preference.id) %>

	<% end %>

</div>

<div>
	<h3>
		Rewards Information
	</h3>

</div>

<div>
	<h3>
		Upcoming Jobs
	</h3>

	<% if @asset.crews.last.nil? || @asset.crews.last.retrofit_job.finish < Date.today %>

		<p>
			Not currently Assigned to any Job
		</p>

	<% else %>
	
		<ul>
			<% @asset.crews.each do |c| %>
			<li>
				<%= c.retrofit_job.store_name_and_number %><br>

					<% if !c.retrofit_job.start.nil? %>
						<% begin %>
							<%= c.retrofit_job.start.strftime("%A, %m.%l.%y") %><br>
						<% rescue StandardError %>
							Start date formatting error.  Edit this field.
						<% end %>
					<% end %>

				<%= link_to "view job", retrofit_job_path(c.retrofit_job.id) %>
			</li>
			<% end %>
		</ul>

	<% end %>

</div>

<div>
	<h3>
		Upcoming Logistics
	</h3>

</div>

