<h3>
	Index page for the Units
</h3>

<table>
	<thead>
		<tr>
			<th>
				Image
			</th>
			<th>
				Unit Type
			</th>
			<th>
				Order ID
			</th>
			<th>
				Vendor
			</th>
			<th>
				Manufacturer
			</th>
			<th>
				Product ID
			</th>
			<th>
				Nickname
			</th>
			<th>
				Finish
			</th>
			<th>
				Description
			</th>
			<th>
				Notes
			</th>
			<th>
				Product Type
			</th>
			<th>
				Last Updated
			</th>
		</tr>
	</thead>
	<% @units.each do |u| %>
		<tbody>
			<tr>
				<td class="unit-pic">
					<a href="http://pluto1.genlyte.com/MKACatImages/lytespan/pics/LLAB1_front.jpg"><img src="http://pluto1.genlyte.com/MKACatImages/lytespan/pics/LLAB1_front.jpg"></a>
				</td>
				<td>
					<%= u.unit_type %><br>
				</td>
				<td>
					<%= u.order_identifier %><br>
				</td>
				<td>
					<%= u.vendor %><br>
				</td>
				<td>
					<%= u.mfg %><br>
				</td>
				<td>
					<%= u.product_identifier %><br>
				</td>
				<td>
					<%= u.nickname %><br>
				</td>
				<td>
					<%= u.finish %>
				</td>
				<td>
					<%= u.description %><br>
				</td>
				<td>
					<%= u.notes %><br>
				</td>
				<td>
					<%= u.product_type %><br>
				</td>
				<td>
					<%= time_ago_in_words(u.updated_at) %><br>
				</td>
			</tr>
		</tbody>
	<% end %>
</table>