<h3>
	New page for Units
</h3>

form_for @user, :url => users_path, :html => { :multipart => true } do |form|

<div>
	<%= form_for @unit, :url => units_path, :html => { :multipart => true } do |f| %>
		<%= f.label "Upload a Pic" %><br>
		<%= f.file_field :avatar %><br>
		<%= f.label "Unit Type" %><br>
		<%= f.text_field :unit_type, placeholder: "placeholder" %><br>
		<%= f.label "Order ID" %><br>
		<%= f.text_field :order_id %> <br>
		<%= f.label "Vendor" %><br>
		<%= f.text_field :vendor %><br>
		<%= f.label "Manufacturer" %><br>
		<%= f.text_field :mfg %><br>
		<%= f.label "Product ID" %><br>
		<%= f.text_field :product_id %><br>
		<%= f.label "Nickname" %><br>
		<%= f.text_field :nickname %><br>
		<%= f.label "Description" %><br>
		<%= f.text_field :description %><br>
		<%= f.label "IC Notes" %><br>
		<%= f.text_field :notes %><br>
		<%= f.label "Product Type" %><br>
		<%= f.text_field :product_type %><br>
		<%= f.submit "Add Unit" %>
	<% end %>
</div>