
<h3>
	<%= "#{@retrofit_job.store_name_and_number} Job Site Reports" %>
</h3>

<% if @reports.empty? %>

	<p>
		No Job Reports yet.
	</p>

<% else %>

	<div>
		<% @reports.each do |r| %>
			<ul>
				<li>
					<%= r.day %>
				</li>
				<li>
					<%= r.completed_by %>
				</li>
				<li>
					<% r.items.all.each do |i| %>
						<ul>
							<li>
								<%= i.title %>
							</li>
							<li>
								<%= i.notes %>
							</li>
						</ul>
					<% end %>
				</li>
			</ul>
		<% end %>
	</div>

<% end %>