<h3>
	<%= "#{@retrofit_job.store_name_and_number} Job Site Reports" %>
</h3>

<% if @reports.empty? %>

	<p>
		No Job Reports yet.
	</p>

<% else %>

	<div>
		<% @reports.each do |r| %>
			<ul>
				<li>
					<%= "Posted by #{r.completed_by}, on #{r.day.to_s(:install_date)}"%>
				</li>
				<li>
					<% r.items.all.each do |i| %>
						<ul>
							<li>
								<%= i.title %>
							</li>
							<li>
								<%= simple_format(i.notes) %>
							</li>
						</ul>
					<% end %>
				</li>
				<li>
					<div class="all-forms">
					<%= form_for([@report[:id => r.id], @new_item], :url => retrofit_job_report_items_path(:report_id => r.id), method: :create) do |f| %>
						<%= f.label "title" %>
						<%= f.text_field :title %>
						<%= f.label "Catogory" %>
						<%= f.text_area :notes %>
						<%= f.submit "Add Item" %>
					<% end %>
					</div>
				</li>
			</ul>
		<% end %>
	</div>

<% end %>

<%= link_to "Add Report", new_retrofit_job_report_path %>