<!DOCTYPE html>
<html>
<head>
  <title>Invisible Circus Project Web</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0" />
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div class="wrapper">
		<nav>
			<ul>
				<li>
					<a href="#">
						Navigation
					</a>
		
					<ul>
						<li>
							<%= link_to "Retrofit Jobs", retrofit_jobs_path %>
						</li>
						<li>
							<%= link_to "Assets", assets_path %>
						</li>
						<li>
							<%= link_to "Units", units_path %>
						</li>
						<li>
							<%= link_to "Resources", resources_path %>
						</li>
					</ul>
				</li>
			</ul>
		</nav>

		<h1>
			Invisible Circus
		</h1>

		<h2>
			LED Retrofit
		</h2>

		<% if flash[:notice] %>
			<p><%= flash[:notice] %></p>
		<% end %>
		<% if flash[:alert] %>
			<p><%= flash[:alert] %></p>
		<% end %>

		<%= yield %>

	</div>
	<footer>

	</footer>
</body>
</html>
