<!DOCTYPE html>
<html>
<head>
  <title>Invisible Circus Project Web</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div class="wrapper">
		<nav>
			<ul>
				<li>
					<%= link_to "Retrofit Jobs", retrofit_jobs_path %>
				</li>
				<li>
					<%= link_to "Assets", assets_path %>
				</li>
				<li>
					<%= link_to "Resources" %>
				</li>
				<li>
					<%= link_to "Map of Stores", "https://mapsengine.google.com/map/viewer?mid=zMQYuLLON3zo.kAvkqKUuv7RE", target: "blank" %>
				</li>
			</ul>
		</nav>

		<h1>
			Invisible Circus
		</h1>

		<h2>
			LED Retrofit
		</h2>

		<% if flash[:notice] %>
			<p><%= flash[:notice] %></p>
		<% end %>
		<% if flash[:alert] %>
			<p><%= flash[:alert] %></p>
		<% end %>

		<%= yield %>

	</div>
</body>
</html>
